#instructions {
  color: #493B29;
  text-align: center;
  width: 60%;
  outline: 2px inset;
  margin: auto;
}

.page_button {
  border-radius: 32px;
  background-color: #493B29;
  border-color: #493B29;
  color: #E2E3E0;
  height: 50px;
  width: 10%;
  font-size: 16px;
}
