body {
  font-family: Georgia;
}

.host_container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 20px;  
}

.host_container input {
  text-align: center;
  background-color: #fdf6e8;
  width: 70%;
  margin: auto;
  margin-bottom: 5px;
}
.host_container button {
  width: 100px;
  margin: auto;
}
.game_box {
  width: full;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.game_box button {
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

#host_button {
  border-radius: 16px;
  background-color: #828281;
  color: #E2E3E0;
  height: 30px;
  width: 20%;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#host_button:hover {
  background-color: #fc873d;
}
